body {
  background-color: #f2f2f2;
}

.front-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.info-box {
  display: flex;
  align-content: center;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 50px;
}
.secondary-container {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  align-items: center;
  align-content: center;
}

.social-icon-box {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
}

.front-page-container div {
  border: 1px #ccc solid;
  padding: 10px;
  align-content: center;
  align-items: center;
}

img {
  display: block;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: auto;
  width: 20%;
  border-radius: 30%;
}

.icon {
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #d3d3d3;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #2d3436;
  overflow: hidden;
  position: relative;
}

.icon i {
  line-height: 45px;
  font-size: 35px;
  transition: 0.2s linear;
}

.icon:hover i {
  transform: scale(1.5);
}

.link-buttons {
  font-family: "proxima nova";
  font-weight: bold;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.link-buttons:hover {
  background-color: #a29bfe;
  color: white;
}
